.App {
  text-align: center;
  font-family: 'Gothic A1', sans-serif;
}

.starships-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: aliceblue;
}

h3 {
  background-color: darkblue;
  padding: 1.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
